// 面包屑
.content-header>.breadcrumb {
    background-color: transparent;
    margin-bottom: 10px;
    padding: 15px 15px 0 15px;
}

// 搜索表单
.search-form {
    padding: 20px;
    background-color: $primary-bg-color;

    .form-group {
        padding-left: 10px;

        &:first-child {
            padding-left: 0;
        }

        >label {
            margin-bottom: 5px;
        }
    }
}

.search-form-btn-group {
    margin-bottom: 20px;
    border-top: 1px solid $primary-border-color;

    .btn {
        border-radius: 0;
        background-color: $primary-bg-color;
        &:hover {
            color: #333;
            background-color: #e6e6e6;
        }
    }
}

