/* 遮罩*/
.loading-layer {
    position: fixed;
    z-index: 1000;
    
    height: 100%;
    width: 100%;

    background-color: transparent;
    text-align: center;

    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;
}

.loading-text {
    position: absolute;
    top: 40%;
    left: 45%;

    padding: 20px;

    border-radius: 6px;
    
    font-size: 18px;
    color: #fff;
    
    background-color: rgba(0,0,0,0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8000000,endColorstr=#C8000000);
}