// layout
$layout-min-width: 1276px !default;        // 最小宽度
$layout-aside-width: 230px !default;       // 左侧菜单宽
$layout-gap: 8px !default;                 // 间歇宽度
$layout-header-height: 40px !default;      // 头部高度
$layout-content-tab-height: 40px !default;

// 颜色
$primary-color: #14afe3 !default;       // 第一主色 
$primary-bg-color: #efeff4 !default;    // 第一背景色
$primary-border-color: #ddd;			// 第一线框颜色
$header-color: #333 !default;           // 头部字体颜色
